a:link
{
	color: blue;
}

a:visited
{
	color: darkviolet;
}

a:hover
{
	background-color: lightgrey;
}

a:active
{
	color: blueviolet;
}

body
{
	background-color: white;
	color: midnightblue;
	font-family: sans-serif;
	font-variant: small-caps;
}

h1
{
	border-color: maroon;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	color: maroon;
}

nav
{
	border-color: maroon;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: medium;
	color: maroon;
}

nav h1
{
	border-style: hidden;
	display: inline-block;
	font-size: medium;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

nav li
{
	border-radius: 3px;
	border-style: outset;
	border-width: thin;
	display: inline;
}

nav ul
{
	display: inline-block;
}

p
{
	text-indent: 4%;
}

table
{
	border-style: solid;
}

th
{
	border-bottom-style: solid;
	border-right-style: solid;
}

td
{
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: thin;
}
